*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;

  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1170px;
}
footer {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(19, 19, 24, 0.05);
}

.navbar {
  /*width: 80%; */
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 10px 20px;
}

.logo-section {
  display: flex;
}
.logo-section img {
  width: 55px;
  height: 48px;
  margin-top: 10px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 45px;
}

.menu-toggle {
  display: none;
}

/* Hamburger menu icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: black;
  height: 3px;
  margin: 5px;
  width: 25px;
}

/* Explore your travel */
.explore {
  /*width: 80%; */
  margin: 0 auto;
  /* border: 2px solid crimson; */
  background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
}
.exploreOverlay {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#131318, #13131800);
}
.explore-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
}
.explore-search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /*width: 80%; */
  margin: 0 auto;
  /* border: 2px solid yellow; */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.input-box {
  width: 255px;
  height: 52px;
  border: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 16px;
  /* margin-top: 15px;
  margin-left: 28px; */
}
/* <!-- Choose Your Destination --> */

.destination-section {
  margin-top: 100px;
}
.destination-title {
  text-align: center;
}
.destination-title h2 {
  font-size: 2.5rem;
}
.destination-title p {
  font-size: 1rem;
}

.destination-conatiner {
  display: grid;
  gap: 24px;
  /* justify-content: center; */
  /* background-color: antiquewhite; */
  max-width: 1170px;
}

.destination-sub-container {
  display: grid;
}
.destination-sub-container-1 {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
}
.destination-sub-container-2 {
  grid-template-columns: 2fr 3fr 2fr;
  gap: 24px;
}
.destination-sub-container-3 {
  grid-template-columns: 4fr 6fr;
  gap: 24px;
  justify-content: space-between;
}

.destination-item {
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destination-item h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: bolder;
}

.destination-item-1 {
  background-image: url("Images/maldives.png");
}
.destination-item-2 {
  background-image: url("Images/indonesia.png");
}
.destination-item-3 {
  background-image: url("Images/Srilanka.png");
}
.destination-item-4 {
  background-image: url("Images/NorthAmerica.png");
}
.destination-item-5 {
  background-image: url("Images/Kashmir.png");
  /* padding-right: 0px; */
}
.destination-item-6 {
  background-image: url("Images/Bangladesh.png");
}

.destination-item-7 {
  background-image: url("Images/Bandarban.png");
}

/* <!-- popular tour section --> */

.polular-tour-section {
  margin: 100px auto;
  display: flex;
}
.popular-tour-info {
  padding-right: 50px;
}
.popular-tour-info button {
  background-color: rgba(255, 84, 0, 1);

  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: white;
  font-size: 20px;
}
.popular-tour-info a {
  text-decoration: none;
  color: white;
}
/* <!-- Why Choose Us section --> */

.why-choose-us-section {
  margin: 100px auto;
}
.why-choose-info {
  text-align: center;
}
.why-choose-info h2 {
  font-size: 2.5rem;
}

.choose-sub-card {
  display: flex;
  gap: 24px;
}
.choose-card {
  max-width: 573px;
  padding: 32px;
}
.choose-card1 {
  background-color: rgba(251, 181, 99, 0.05);
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  margin: 0 auto;
}
.choose-card2 {
  background-color: rgba(41, 206, 246, 0.05);
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  margin: 0 auto;
}
.choose-card3 {
  background-color: rgba(233, 68, 68, 0.05);
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  margin: 24px auto;
}

/* <!-- Deals & Discounts section --> */

.deals-discounts-section {
  margin: 100px auto;
  /* border: 2px solid aquamarine; */
}
.deals-discounts-info {
  text-align: center;
}
.deals-discounts-info h2 {
  font-size: 2.5rem;
}
.deal {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.deal1 {
  background-image: url("Images/deal-1.png");
  margin-top: 50px;
}
.deal2 {
  background-image: url("Images/deal-2.png");
  margin-top: 25px;
}
.deal3 {
  background-image: url("Images/deal-1.png");
  margin-top: 25px;
}

.deal-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  width: 50%;
  height: 78%;
}
.deal-card-right {
  margin-left: 535px;
}
.deal-card-left {
  margin-left: 56px;
}
.icon-section {
  display: flex;
  padding: 50px;
}
.icon-section i {
  color: rgba(255, 84, 0, 1);
  margin-right: 5px;
  margin-left: 30px;
}

.deal-info {
  margin-left: 50px;
}
.deal-info h3 {
  color: rgba(255, 84, 0, 1);
}
.deal-info button {
  width: 150px;
  height: 52px;
  background-color: rgba(255, 84, 0, 1);
  border-radius: 8px;
  border: rgba(255, 84, 0, 1);
}
.deal-info a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}
.see-all-part {
  margin: 50px auto;
}
.see-all {
  width: 210px;
  height: 52px;
  background-color: rgba(255, 84, 0, 1);
  border-radius: 8px;
  border: rgba(255, 84, 0, 1);
}
.see-all-a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

/* Perfect place section */

.perfect-place-section {
  display: flex;
  margin: 50px auto;
  /* border: 3px solid aquamarine; */
}
.perfect-place-info h2 {
  font-size: 40px;
  font-weight: bolder;
}
.perfect-place-info button {
  width: 150px;
  height: 52px;
  margin-top: 32px;
  background-color: rgba(255, 84, 0, 1);
  border-radius: 8px;
  border: rgba(255, 84, 0, 1);
}
.perfect-place-info a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}
.perfect-place-info li {
  font-weight: bold;
}
.perfect-place-image {
  background-image: url("Images/perfect-place.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  border-radius: 16px;
}

/* NewsLetter Section */
.newsLetter-section {
  /* border: 3px dotted blueviolet; */
  display: flex;
  gap: 24px;
}
.subscribe-box {
  border: 1px solid rgba(255, 84, 0, 1);
  border-radius: 8px;
  padding: 40px;
}
.subscribe-box hr {
  margin-top: 24px;
}
.subscribe-box input {
  width: 400px;
  height: 52px;
  background-color: rgba(19, 19, 24, 0.05);
  margin: 24px 0;
  border: 1px solid rgba(19, 19, 24, 0.3);

  border-radius: 8px;
}
.subscribe-box button {
  width: 400px;
  height: 52px;
  margin-top: 32px;
  background-color: rgba(255, 84, 0, 1);
  border-radius: 8px;
  border: rgba(255, 84, 0, 1);
}
.subscribe-box a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}
.newsLetter-img {
  background-image: url("Images/mountainBD.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  border-radius: 16px;
}
.promo {
  /* here is a problem */
  margin-left: 325px;
  margin-top: 310px;
  transform: rotate(-20deg);
  background-color: rgba(255, 84, 0, 1);
  color: rgba(255, 255, 255, 1);
  width: 324px;
  height: 120px;
  border-radius: 16px;
  text-align: center;
  padding: 20px;
}

/* footer section */

.m-footer {
  margin-top: 100px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.m-footer img {
  width: 40px;
  height: 47px;
}
.m-footer p {
  text-align: center;
}
.m-footer hr {
  margin: 50px 0;
  margin-left: 520px;
  width: 870px;
}
.social-icon {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  font-size: 1.5rem;
}
/* All media Queries */

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: bisque;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}
@media (min-width: 1440px) {
  /* Explore part */
  .explore-content {
  }
  .explore-content h2 {
    font-size: 4rem;
  }
  .explore-content p {
    font-size: 1rem;
  }
  .explore-search {
    /* max-width: 800px; */
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    height: 20%;
  }
}
@media (max-width: 475px) {
  /* <!-- popular tour section --> */
  .polular-tour-section {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    padding: 0 auto;
  }
  .popular-tour-info {
    padding: 20px;
  }
  .popular-tour-image {
    margin: 0 auto;
  }
  .popular-tour-image img {
    max-width: 355px;
  }
  /* Choose Your Destination */

  .destination-title {
    text-align: center;
  }
  .destination-title h2 {
    font-size: 1.25rem;
  }
  .destination-title p {
    font-size: 0.875rem;
  }
  .destination-conatiner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    max-width: 335px;
  }
  .destination-sub-container {
    display: grid;
    /* flex-direction: column; */
  }
  .destination-sub-container-1 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .destination-sub-container-2 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .destination-sub-container-3 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  /* <!-- Why Choose Us section --> */
  .choose-sub-card {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
  }
  .choose-card {
    max-width: 335px;
    padding: 32px;
  }
  /* <!-- Deals & Discounts section --> */
  .deals-discounts-section {
    margin: 24px auto;
    /* border: 2px solid aquamarine; */
  }
  .deals-discounts-info h2 {
    font-size: 1.25rem;
  }
  .deal {
    display: flex;
  }
  .deal-card {
    width: 90%;
    height: 60%;
  }
}
