*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;

  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1170px;
}

.navbar {
  /*width: 80%; */
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 10px 20px;
}

.logo-section {
  display: flex;
}
.logo-section img {
  width: 55px;
  height: 48px;
  margin-top: 10px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 45px;
}

.menu-toggle {
  display: none;
}

/* Hamburger menu icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: black;
  height: 3px;
  margin: 5px;
  width: 25px;
}

/* Explore your travel */
.explore {
  /*width: 80%; */
  margin: 0 auto;
  /* border: 2px solid crimson; */
  background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
}
.exploreOverlay {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#131318, #13131800);
}
.explore-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
}
.explore-search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /*width: 80%; */
  margin: 0 auto;
  /* border: 2px solid yellow; */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.input-box {
  width: 255px;
  height: 52px;
  border: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 16px;
  /* margin-top: 15px;
  margin-left: 28px; */
}
/* <!-- Choose Your Destination --> */

.destination-section {
  margin-top: 100px;
}
.destination-title {
  text-align: center;
}
.destination-title h2 {
  font-size: 2.5rem;
}
.destination-title p {
  font-size: 1rem;
}

.destination-conatiner {
  display: grid;
  gap: 24px;
  /* justify-content: center; */
  /* background-color: antiquewhite; */
  max-width: 1170px;
}

.destination-sub-container {
  display: grid;
}
.destination-sub-container-1 {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
}
.destination-sub-container-2 {
  grid-template-columns: 2fr 3fr 2fr;
  gap: 24px;
}
.destination-sub-container-3 {
  grid-template-columns: 4fr 6fr;
  gap: 24px;
  justify-content: space-between;
}

.destination-item {
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destination-item h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: bolder;
}

.destination-item-1 {
  background-image: url("Images/maldives.png");
}
.destination-item-2 {
  background-image: url("Images/indonesia.png");
}
.destination-item-3 {
  background-image: url("Images/Srilanka.png");
}
.destination-item-4 {
  background-image: url("Images/NorthAmerica.png");
}
.destination-item-5 {
  background-image: url("Images/Kashmir.png");
  /* padding-right: 0px; */
}
.destination-item-6 {
  background-image: url("Images/Bangladesh.png");
}

.destination-item-7 {
  background-image: url("Images/Bandarban.png");
}

/* <!-- popular tour section --> */

.polular-tour-section {
  margin: 100px auto;
  display: flex;
}
.popular-tour-info {
  padding-right: 50px;
}
.popular-tour-info button {
  background-color: rgba(255, 84, 0, 1);

  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: white;
  font-size: 20px;
}
.popular-tour-info a {
  text-decoration: none;
  color: white;
}

/* All media Queries */

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: bisque;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}
@media (min-width: 1440px) {
  /* Explore part */
  .explore-content {
  }
  .explore-content h2 {
    font-size: 4rem;
  }
  .explore-content p {
    font-size: 1rem;
  }
  .explore-search {
    /* max-width: 800px; */
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    height: 20%;
  }
}
@media (max-width: 475px) {
  /* <!-- popular tour section --> */
  .polular-tour-section {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    padding: 0 auto;
  }
  .popular-tour-info {
    padding: 20px;
  }
  .popular-tour-image {
    margin: 0 auto;
  }
  .popular-tour-image img {
    max-width: 355px;
  }
  /* Choose Your Destination */

  .destination-title {
    text-align: center;
  }
  .destination-title h2 {
    font-size: 1.25rem;
  }
  .destination-title p {
    font-size: 0.875rem;
  }
  .destination-conatiner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    max-width: 335px;
  }
  .destination-sub-container {
    display: grid;
    /* flex-direction: column; */
  }
  .destination-sub-container-1 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .destination-sub-container-2 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .destination-sub-container-3 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
